@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAV */
.nav-item {
  @apply flex h-[48px] grow items-center justify-center gap-2 bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-500 md:flex-none md:justify-start md:p-2 md:px-3;
}

.nav-item--active {
  @apply bg-sky-100 text-blue-500;
}

/* CARDS */
.card-wrapper {
  @apply h-screen flex flex-col items-center justify-center gradient--light;
}

.card {
  @apply shadow-[0_0_12px_2px_rgba(0,0,0,0.12)] p-8 rounded-lg transition-all duration-300 hover:scale-105;
}

.card-auth {
  @apply bg-white shadow-[0_0px_30px_5px_rgba(0,0,0,0.2)] flex flex-col justify-center w-10/12 md:w-5/12 xl:w-4/12 mx-auto p-10;
}

/* BUTTONS */
.btn {
  @apply flex px-10 py-3 font-semibold my-5 transition-all duration-300;
}

.btn--primary {
  @apply bg-blue-400 text-white hover:bg-teal-300;
}

.badge__tootletip:hover .tooltip {
  @apply flex;
}

.badge--teal {
  @apply relative text-sm text-white w-28 bg-teal-400 rounded-xl px-2 py-1 text-center cursor-pointer hover:bg-blue-500;
}

.tooltip {
  @apply hidden absolute items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 w-max transition-all duration-300;
}

/* CHECKBOX */
.checkbox-wrapper input[type="checkbox"] {
  @apply appearance-none w-5 h-5 border border-gray-300 outline-none cursor-pointer relative;
}

.checkbox-wrapper input[type="checkbox"].checked {
  @apply bg-blue-500;
}

.checkbox-wrapper input[type="checkbox"].checked::before {
  content: "";
  background-image: url("/images/svg/checkbox.svg");
  width: 0.725rem;
  height: 0.725rem;
  position: absolute;
  top: 4px;
  left: 4px;
}

/* GRADIENTS */
.gradient--light {
  background: linear-gradient(175deg, rgba(153, 229, 255, 0.38141193977591037) 50%, rgba(240, 251, 255, 0) 50%);
}

/* CONFIRM WRAPPER */

.confirm-wrapper {
  @apply fixed bg-slate-900/65 w-full h-full z-[2] top-0 right-0 bottom-0 left-0;
}

/* TOSTIFY */

.toast {
  @apply rounded-md px-4 py-2 flex justify-center items-center font-semibold;
}

.toast--success {
  @apply text-white bg-green-400;
}
.toast--error {
  @apply bg-red-400 border-red-400;
}
.toast--warning {
  @apply text-yellow-400 border-yellow-400;
}
.toast--info {
  @apply bg-blue-400 border-blue-400;
}
